<div class="cardCont" 
    [ngStyle]="{'width': getCardWidth(),
                'height' : galleryConfig?.cardHeight + 'rem'}"
    [ngClass]="['textColor_'+ galleryConfig?.cardTextColor]">
    
    <ng-container *ngIf="galleryConfig?.useText && 
                         galleryConfig?.textPosition === 'separated' &&
                        (galleryConfig?.useTitle || galleryConfig?.useDescription)
                        then topHeader; else empty">
    </ng-container>
    
    <ng-container *ngTemplateOutlet="image"></ng-container>
    
    <ng-container *ngIf="galleryConfig?.useText && 
                        galleryConfig?.textPosition === 'separated' &&
                        (galleryConfig?.useTitle || galleryConfig?.useDescription)
                        then footer; else empty">
    </ng-container>
</div>


<ng-template #topHeader>
    <div [ngStyle]="{'justify-content': galleryConfig?.horizontalAlign,
                    'background-color': galleryConfig?.cardTextColor === 'invert' && galleryConfig?.textPosition === 'separated' ? '#000' : 'Transparent'}">
         
        <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'grouped' && 
                             galleryConfig?.verticalAlign === 'start'">
            <div class="groupedText"> 
                <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'ungrouped'">
            <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
            </ng-container>
        </ng-container>
                    
    </div>
</ng-template>

<ng-template #image>
    <div class="imageCont"
    [ngStyle]="{'justify-content': galleryConfig?.verticalAlign}"
         style='background-image: url("https://www.desktopbackground.org/p/2011/02/22/161528_tilicho-lake-in-nepal-wallpapers-nature-wallpapers_1680x1050_h.jpg"); height:100%; width: 100%;'>
        <ng-container *ngIf="galleryConfig?.useText && 
                         galleryConfig?.textPosition === 'overlyed'; 
                         then overlayedText; else empty"></ng-container>
    </div>
</ng-template>

<ng-template #footer>
    <div [ngStyle]="{'justify-content': galleryConfig?.horizontalAlign,
                    'background-color': galleryConfig?.cardTextColor === 'invert' && galleryConfig?.textPosition === 'separated' ? '#000' : 'Transparent'}">
         
    <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'grouped' && galleryConfig?.verticalAlign === 'end'">
            <div class="groupedText"> 
                <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
                </ng-container>
            </div>
    </ng-container>
    <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'ungrouped'">
            <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
            </ng-container>
    </ng-container>
    </div>
</ng-template>

<ng-template #overlayedText>
    <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
    </ng-container>
</ng-template>


<ng-template #text let-entry="entry">
    <div *ngIf="entry === 'title' && galleryConfig?.useTitle" 
         [ngClass]="['title-' + galleryConfig?.titleSize]"
         [ngStyle]="{'display' : 'block', 'text-align': galleryConfig?.horizontalAlign}">
        Title1
    </div>
    <textarea *ngIf="entry === 'description' && galleryConfig?.useDescription" 
             [ngClass]="['body-' + galleryConfig.descriptionSize]"
             [ngStyle]="{'display' : 'block', 'text-align': galleryConfig?.horizontalAlign}"
            [rows]="galleryConfig?.descriptionMaxNumOfLines"
            [minRows]="1"
            [maxRows]="galleryConfig?.descriptionMaxNumOfLines"
        class="textarea">Description1 Description1 Description1 Description1 Description1
</textarea>

</ng-template>

<ng-template #empty><div></div></ng-template>