
<div class="galleryCardCont" 
    [ngStyle]="{'display': galleryConfig?.textPosition === 'overlaid' ? 'block' : 'grid',
                'height' : galleryConfig?.cardHeight + 'rem',
                'cursor' : card?.script != '' ? 'pointer' : 'inherit',
                'border': getGalleryBorder()}"
    [ngClass]="['textColor_'+ galleryConfig?.cardTextColor,
                galleryConfig?.dropShadow?.use ? 'shadow-' + this.galleryConfig?.dropShadow?.size : '',
                galleryConfig?.dropShadow?.use ? this.galleryConfig?.dropShadow?.intensity : '',
                galleryConfig?.useRoundCorners ? 'border-radius-' + galleryConfig?.roundCornersSize : '']"
    (click)="onCardClicked()">

    <ng-container *ngIf="galleryConfig?.useText && 
                         galleryConfig?.textPosition === 'separated' &&
                        (galleryConfig?.useTitle || galleryConfig?.useDescription)
                        then topHeader; else empty">
    </ng-container>
    
    <ng-container *ngTemplateOutlet="image"></ng-container>
    
    <ng-container *ngIf="galleryConfig?.useText && 
                        galleryConfig?.textPosition === 'separated' &&
                        (galleryConfig?.useTitle || galleryConfig?.useDescription)
                        then footer; else empty">
    </ng-container>
</div>


<ng-template #topHeader>
    <div [ngStyle]="{'justify-content': galleryConfig?.horizontalAlign,
                    'background-color': galleryConfig?.cardTextColor === 'invert' && galleryConfig?.textPosition === 'separated' ? '#000' : 'Transparent'}"
          class="ellipsis">
         
        <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'grouped' && 
                             galleryConfig?.verticalAlign === 'start'">
            <div class="groupedText"> 
                <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'ungrouped'">
            <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
            </ng-container>
        </ng-container>
                    
    </div>
</ng-template>

<ng-template #image>
    <div class='overlayCont' [ngStyle]="{'background' : getAssetWithPos(), 'width': cardWidth ,
        'justify-content': (galleryConfig?.textPosition == 'overlaid' && galleryConfig?.groupTitleAndDescription === 'ungrouped') ? 'space-between' :  galleryConfig?.verticalAlign,
        'box-shadow': galleryConfig?.overlay?.use ?  'inset 0 0 0 100vh ' + galleryService.getRGBAcolor(galleryConfig?.overlay) : 'unset'}"
        [ngClass]="[galleryConfig?.useRoundCorners ? 'border-radius-' + galleryConfig?.roundCornersSize : '']">
    </div>
    <div class='gradCont' [ngStyle]="{'background' : getGradientOverlay(), 'width': cardWidth}" 
         [ngClass]="[galleryConfig?.useRoundCorners ? 'border-radius-' + galleryConfig?.roundCornersSize : '']">
    </div>
    <div class="imageCont" [ngStyle]="{'width': cardWidth, 'justify-content': galleryConfig?.verticalAlign === 'middle' ? 'center' : galleryConfig?.verticalAlign}" >
        <ng-container *ngIf="galleryConfig?.useText && 
                         galleryConfig?.textPosition === 'overlaid'; 
                         then overlayedText; else empty">
        </ng-container>
    </div>
    
</ng-template>

<ng-template #footer>
    <div [ngStyle]="{'justify-content': galleryConfig?.horizontalAlign,
                    'background-color': galleryConfig?.cardTextColor === 'invert' && galleryConfig?.textPosition === 'separated' ? '#000' : 'Transparent'}">
         
    <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'grouped' && galleryConfig?.verticalAlign === 'end'">
            <div class="groupedText"> 
                <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
                </ng-container>
                <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
                </ng-container>
            </div>
    </ng-container>
    <ng-container *ngIf="galleryConfig?.groupTitleAndDescription === 'ungrouped'">
            <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
            </ng-container>
    </ng-container>
    </div>
</ng-template>

<ng-template #overlayedText>
    <ng-container *ngTemplateOutlet="text; context: {entry: 'title'}">
    </ng-container>
    <ng-container *ngTemplateOutlet="text; context: {entry: 'description'}">
    </ng-container>
</ng-template>


<ng-template #text let-entry="entry">
    <div *ngIf="entry === 'title' && galleryConfig?.useTitle"
         [ngClass]="['title-' + galleryConfig?.titleSize,
                      galleryConfig?.titleWeight, 'ellipsis']"
         [ngStyle]="{'display' : 'block', 'text-align': galleryConfig?.horizontalAlign}">
         {{card.title}}
</div>
    <textarea *ngIf="entry === 'description' && galleryConfig?.useDescription" 
             [ngClass]="['body-' + galleryConfig?.descriptionSize]"
             [ngStyle]="{'display' : 'block', 'text-align': galleryConfig?.horizontalAlign}"
            [rows]="galleryConfig?.descriptionMaxNumOfLines"
            [minRows]="1"
            [maxRows]="galleryConfig?.descriptionMaxNumOfLines"
        class="textarea">{{card.description}}
</textarea>

</ng-template>

<ng-template #empty><div></div></ng-template>