@import '~@pepperi-addons/ngx-lib/theming';
@import 'ngx-lib/src/core/style/abstracts/variables';
//@import 'ngx-lib/src/core/style/abstracts/mixins';
@include pepperi-theme();
// Get the theme object.
$pepperi-theme: get-pepperi-theme();

:host{
    width: 100%;
}
.backgroundCont{
    height: 100%;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.cardCont{
    width: calc((100% - 0rem) / 1);
    grid-template-rows: min-content auto min-content;

    div{
        display: flex;

        &.imageCont{
            background-size: cover;
            background-size: cover;
            background-position: center;
            flex-direction: column;
        }

        .groupedText{
            display: flex; 
            flex-direction: column;
        }
    }

    &.textColor_system-primary{
        color: get-pep-color($pepperi-theme, color-text, color-regular);
    }
    &.textColor_invert{
        color: get-pep-color($pepperi-theme, color-text, color-invert);
    }
}

.textarea {
    background: transparent;
    width: 100%;
    border: none;
    resize: none; /* hide browser provided resize handles */
    overflow-y: hidden;
    -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
    scrollbar-width: none; /* hide scrollbar in Firefox */
  }
  
  .textarea::-webkit-scrollbar {
    display: none; /* hide scrollbar in Chrome and variants */
  }
  