<div class="galleryCardsCont" #galleryContainer
     [ngClass]="['columnGap_'+ configuration?.galleryConfig?.gap]"
     [ngStyle]="{'height' : configuration?.galleryConfig?.fillHeight ? '100%' : (configuration?.galleryConfig?.cardHeight + 'rem')}">
     <gallery-card #cardContainer *ngFor="let currentCard of configuration?.cards" 
          [ngStyle]="{'width': cardWidth}"
                   [card]="currentCard" 
                   [cardWidth]="cardWidth"
                   [galleryConfig]="configuration?.galleryConfig"
                   (cardClick)="onCardClicked($event)">
     </gallery-card>
     <div *ngIf="!configuration?.cards || configuration?.cards.length === 0" class="noImageFound">No Images</div>
</div>
