.galleryCardsCont{

    display: flex;
    flex-wrap: wrap;
    width:100%;
    // TODO - NEED TO GET THE SCREEN SIZE AS INPUT AND ADD CLASS 
    @media screen and (max-width:360px) {
        flex-direction: column;

        ::ng-deep {
            gallery-card{
                width: 100% !important;
            }
        }
    }

    .noImageFound{
        position: absolute;
        top: 50%;
        text-shadow: -15px 5px 20px #ced0d3;
        color: white;
        font-family: "Anton", Arial, sans-serif;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: 2em;
        transition: all 0.25s ease-out;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &.oneColumnView{
        flex-direction: column;

        gallery-card{
            width: 100% !important;
        }
    }
}