@import '~@pepperi-addons/ngx-lib/theming';
@import 'ngx-lib/src/core/style/abstracts/variables';
//@import 'ngx-lib/src/core/style/abstracts/mixins';
@include pepperi-theme();
// Get the theme object.
$pepperi-theme: get-pepperi-theme();

.backgroundCont{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}