<mat-tab-group  #tabGroup class="editor-tabs" animationDuration="0ms">
    <mat-tab label="{{'GALLERY_EDITOR.TABS.GENERAL' | translate}}">
    <label class="body-xl bold ellipsis">{{'GALLERY_EDITOR.GRID' | translate}}</label>
    <pep-slider
            [label]="'GALLERY_EDITOR.MAX_COLUMNS' | translate" 
            [hint]="configuration?.galleryConfig?.maxColumns.toString()" 
            [minValue]="1" 
            [maxValue]="15"
            [disabled]="false" 
            [value]="configuration?.galleryConfig?.maxColumns"
            [background]="'RGBA(0,0,0,50%)'"
            (valueChange)="onGalleryFieldChange('maxColumns',$event)">
    </pep-slider>
    <div class="split-area">
        <pep-textbox [label]="'GALLERY_EDITOR.GAP' | translate" type="decimal" 
            [value]="configuration?.galleryConfig?.gap" (valueChange)="onGalleryFieldChange('gap',$event)"></pep-textbox>
        <pep-textbox [label]="'GALLERY_EDITOR.IMAGE_HEIGHT' | translate" type="decimal" 
            [value]="configuration?.galleryConfig?.cardHeight" (valueChange)="onGalleryFieldChange('cardHeight',$event)"></pep-textbox>
    </div>
    <label class="body-xs normal">{{'GALLERY_EDITOR.GRID_EXPLANATION' | translate}}</label>
    <pep-checkbox [value]="configuration?.galleryConfig?.useText" 
        [label]="'GALLERY_EDITOR.TEXT' | translate" 
        [renderTitle]="false" 
        (valueChange)="onGalleryFieldChange('useText',$event)">
    </pep-checkbox>
    
    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.CARD_COLOR' | translate}}</label>
    <pep-group-buttons [buttons]="textColor" 
                       [selectedButtonKey]="configuration?.galleryConfig?.cardTextColor" 
                        buttonsClass="md regular" 
                        [buttonsDisabled]="!configuration?.galleryConfig?.useText"
                        (buttonClick)="onGalleryFieldChange('cardTextColor',$event)" 
                        viewType="toggle" 
                        stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.VERTICAL' | translate}}</label>
    <pep-group-buttons [buttons]="VerticalAlign"
                       (buttonClick)="onGalleryFieldChange('verticalAlign',$event)"
                       [selectedButtonKey]="configuration?.galleryConfig?.verticalAlign" 
                        buttonsClass="md regular" 
                        [buttonsDisabled]="!configuration?.galleryConfig?.useText"
                        viewType="toggle" 
                        stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.HORIZONTAL' | translate}}</label>
    <pep-group-buttons [buttons]="HorizentalAlign" 
                       [selectedButtonKey]="configuration?.galleryConfig?.horizontalAlign" 
                        buttonsClass="md regular" 
                        (buttonClick)="onGalleryFieldChange('horizontalAlign',$event)" 
                        [buttonsDisabled]="!configuration?.galleryConfig?.useText" 
                        viewType="toggle" 
                        stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.TEXT_POS_STYLING' | translate}}</label>
    <pep-group-buttons [buttons]="TextPositionStyling" 
                       [selectedButtonKey]="configuration?.galleryConfig?.textPosition" buttonsClass="md regular" 
                       [buttonsDisabled]="!configuration?.galleryConfig?.useText" 
                       (buttonClick)="onGalleryFieldChange('textPosition',$event)" 
                       viewType="toggle" stretch="true">
    </pep-group-buttons>

    <pep-checkbox [value]="configuration?.galleryConfig?.useTitle" 
        [label]="'GALLERY_EDITOR.TITLE' | translate" 
        [renderTitle]="false" 
        (valueChange)="onGalleryFieldChange('useTitle',$event)"
        [disabled]="!configuration?.galleryConfig?.useText">
    </pep-checkbox>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.TITLE_SIZE' | translate}}</label>
    <pep-group-buttons [buttons]="TitleSizes" 
                       [selectedButtonKey]="configuration?.galleryConfig?.titleSize" 
                        buttonsClass="md regular" 
                        (buttonClick)="onGalleryFieldChange('titleSize',$event)" 
                        [buttonsDisabled]="!configuration?.galleryConfig?.useText || !configuration?.galleryConfig?.useTitle" 
                        viewType="toggle" 
                        stretch="true">
    </pep-group-buttons>

    <pep-checkbox [value]="configuration?.galleryConfig?.useDescription" 
        [label]="'GALLERY_EDITOR.DESCRIPTION' | translate" 
        [renderTitle]="false" 
        (valueChange)="onGalleryFieldChange('useDescription',$event)"
        [disabled]="!configuration?.galleryConfig?.useText">
    </pep-checkbox>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.GROUP_TITLE_DESCRIPTION' | translate}}</label>
    <pep-group-buttons [buttons]="GroupTitleAndDescription" 
                       [selectedButtonKey]="configuration?.galleryConfig?.groupTitleAndDescription" 
                       buttonsClass="md regular" 
                       [buttonsDisabled]="!configuration?.galleryConfig?.useText || !configuration?.galleryConfig?.useTitle && !configuration?.galleryConfig?.useDescription"  
                       (buttonClick)="onGalleryFieldChange('groupTitleAndDescription',$event)" 
                       viewType="toggle" 
                       stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.DESCRIPTION_SIZE' | translate}}</label>
    <pep-group-buttons [buttons]="DescriptionSizes" 
                       [selectedButtonKey]="configuration?.galleryConfig?.descriptionSize" 
                        buttonsClass="md regular" 
                        [buttonsDisabled]="!configuration?.galleryConfig?.useText || !configuration?.galleryConfig?.useDescription" 
                        (buttonClick)="onGalleryFieldChange('descriptionSize',$event)"
                        viewType="toggle" 
                        stretch="true">
    </pep-group-buttons>

    <pep-textbox [value]="configuration?.galleryConfig?.descriptionMaxNumOfLines" 
                 [label]="'GALLERY_EDITOR.MAX_NUM_OF_LINES' | translate" 
                 (valueChange)="onGalleryFieldChange('descriptionMaxNumOfLines',$event)"
                 [disabled]="!configuration?.galleryConfig?.useText || !configuration?.galleryConfig?.useDescription"
                 type="int" >
    </pep-textbox>
    
    <pep-checkbox [value]="configuration?.galleryConfig?.useRoundCorners" [label]="'GALLERY_EDITOR.ROUND_CORNER' | translate" [renderTitle]="false" (valueChange)="onGalleryFieldChange('useRoundCorners',$event)"></pep-checkbox>
    <pep-group-buttons [buttons]="RoundCornersSizes" 
                       [selectedButtonKey]="configuration?.galleryConfig?.roundCornersSize" 
                        buttonsClass="md regular" 
                        [buttonsDisabled]="!configuration?.galleryConfig?.useRoundCorners" 
                        (buttonClick)="onGalleryFieldChange('roundCornersSize',$event)"
                        viewType="toggle" 
                        stretch="true">
    </pep-group-buttons>

    <pep-checkbox [value]="configuration?.galleryConfig?.useBorder" [label]="'GALLERY_EDITOR.BORDER' | translate" [renderTitle]="false" (valueChange)="onGalleryFieldChange('useBorder',$event)"></pep-checkbox>
    <pep-color [value]="configuration?.galleryConfig?.border?.color" [label]="'GALLERY_EDITOR.BORDER_COLOR' | translate" [disabled]="" xAlignment="left"
            type="any" [showTitle]="true" [showAAComplient]="true" (valueChange)="onGalleryFieldChange('border.color',$event)">
    </pep-color>
    <pep-slider
            [label]="'GALLERY_EDITOR.BORDER_OPACITY' | translate" 
            [hint]="configuration?.galleryConfig?.border?.opacity?.toString()" 
            [minValue]="0" 
            [maxValue]="100"
            [disabled]="!configuration?.galleryConfig?.useBorder" 
            [value]="configuration?.galleryConfig?.border?.opacity"
            [background]="getSliderBackground(configuration?.galleryConfig?.border?.color)"
            (valueChange)="onGalleryFieldChange('border.opacity',$event)">
    </pep-slider>
    <pep-checkbox [value]="configuration?.galleryConfig?.useGradientOverlay" [label]="'GALLERY_EDITOR.GRADIENT_OVERLAY' | translate" [renderTitle]="false" (valueChange)="onGalleryFieldChange('useGradientOverlay',$event)"></pep-checkbox>
    <pep-color [value]="configuration?.galleryConfig?.gradientOverlay?.color" [label]="'GALLERY_EDITOR.GRADIENT_OVERLAY_COLOR' | translate" [disabled]="!configuration?.galleryConfig?.useGradientOverlay" xAlignment="left"
            type="any" [showTitle]="true" [showAAComplient]="true" (valueChange)="onGalleryFieldChange('gradientOverlay.color',$event)">
    </pep-color>
    <pep-slider
        [label]="'GALLERY_EDITOR.GRADIENT_OVERLAY_OPACITY' | translate" 
        [hint]="configuration?.galleryConfig?.gradientOverlay?.opacity?.toString()" 
        [minValue]="0" 
        [maxValue]="100"
        [disabled]="!configuration?.galleryConfig?.useGradientOverlay" 
        [value]="configuration?.galleryConfig?.gradientOverlay?.opacity"
        [background]="getSliderBackground(configuration?.galleryConfig?.gradientOverlay?.color)"
        (valueChange)="onGalleryFieldChange('gradientOverlay.opacity',$event)">
    </pep-slider>
    <pep-checkbox [value]="configuration?.galleryConfig?.useOverlay" [label]="'GALLERY_EDITOR.OVERLAY' | translate" [renderTitle]="false" (valueChange)="onGalleryFieldChange('useOverlay',$event)"></pep-checkbox>
    <pep-color [value]="configuration?.galleryConfig?.overlay?.color" [label]="'GALLERY_EDITOR.OVERLAY_COLOR' | translate" [disabled]="!configuration?.galleryConfig?.useOverlay" xAlignment="left"
            type="any" [showTitle]="true" [showAAComplient]="true" (valueChange)="onGalleryFieldChange('overlay.color',$event)">
    </pep-color>
    <pep-slider
        [label]="'GALLERY_EDITOR.OVERLAY_OPACITY' | translate" 
        [hint]="configuration?.galleryConfig?.overlay?.opacity?.toString()" 
        [minValue]="0" 
        [maxValue]="100"
        [disabled]="!configuration?.galleryConfig?.useOverlay" 
        [value]="configuration?.galleryConfig?.overlay?.opacity"
        [background]="getSliderBackground(configuration?.galleryConfig?.overlay?.color)"
        (valueChange)="onGalleryFieldChange('overlay.opacity',$event)">
    </pep-slider>


    <pep-checkbox [value]="configuration?.galleryConfig?.useDropShadow" 
                              [label]="'GALLERY_EDITOR.DROP_SHADOW' | translate" 
                              [renderTitle]="false" 
                              (valueChange)="onGalleryFieldChange('useDropShadow',$event)">
    </pep-checkbox>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.SHADOW_SIZE' | translate}}</label>
    <pep-group-buttons 
                    [buttons]="DropShadowSizes" 
                    [selectedButtonKey]="configuration?.galleryConfig?.dropShadow?.size" 
                    buttonsClass="md regular" 
                    [buttonsDisabled]="!configuration?.galleryConfig?.useDropShadow"
                    (buttonClick)="onGalleryFieldChange('dropShadow.size',$event)" 
                    viewType="toggle" 
                    stretch="true">
    </pep-group-buttons>

    <label class="body-xs normal ellipsis">{{'GALLERY_EDITOR.SHADOW_INTENSITY' | translate}}</label>
    <pep-group-buttons 
                    [buttons]="DropShadowStyle" 
                    [selectedButtonKey]="configuration?.galleryConfig?.dropShadow?.type" 
                    buttonsClass="md regular" 
                    [buttonsDisabled]="!configuration?.galleryConfig?.useDropShadow"
                    (buttonClick)="onGalleryFieldChange('dropShadow.type',$event)" 
                    viewType="toggle" 
                    stretch="true">
    </pep-group-buttons>

    </mat-tab>
    <mat-tab cdkDropListGroup label="{{'GALLERY_EDITOR.TABS.CONTENT' | translate}}">
        <label class="body-xl bold ellipsis">{{'IMAGE_EDITOR.TAB_TITLE' | translate}}</label>
            <div (cdkDropListDropped)="drop($event)"  cdkDropList>
                <card-editor  *ngFor="let currentCard of configuration?.cards;"
                    [id]="currentCard?.id" [showActions]="true" 
                    [isDraggable]="true" (editClick)='onCardEditClick($event);' (removeClick)='onCardRemoveClick($event);'
                    [configuration]="configuration"
                    cdkDrag [cdkDragDisabled]="currentCard?.id == configuration?.galleryConfig?.editSlideIndex" style="cursor: grab;" (cdkDragStarted)="onDragStart($event)" (cdkDragEnded)="onDragEnd($event)">
                </card-editor>
            </div>

            <pep-button class="add-content-button" value="{{'IMAGE_EDITOR.ADD_IMAGE' | translate}}" styleType="regular" iconName="number_plus" iconPosition="end"
                    (buttonClick)="addNewCardClick()"></pep-button>
    </mat-tab>
</mat-tab-group>
